body {
    background: #2d2d2d;
}
body.flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.faded-grey {
    color: rgba(150,150,150,0.8);
}

.container {
    width: 400px;
    overflow: auto
}

.primary-color {
    color: #2cff71;
}

.primary-bg {
    background-color: #2cff71;
}

.primary-border,
#input.primary-border {
    border-color: #2cff71;
    border-top-color: #2cff71;
    border-right-color: #17de58;
    border-bottom-color: #2fb75c;
    border-left-color: #2cff71;
}

.secondary-bg {
    background-color: #5a514b;
}

.secondary-color {
    color: #5a514b;
}

.secondary-border,
#game-window.secondary-border  {
    border-color: #5a514b;
    border-top-color: #5a514b;
    border-right-color: #885e43;
    border-bottom-color: #8e6448;
    border-left-color: #5a514b;
}


#game-window {
    padding: 0;
    border: 4px solid #5a514b;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    box-shadow: inset 0px 20px 20px -16px rgba(0,0,0,0.5);
/*    min-height: -webkit-min-content;*/
}

#output-text {
    display: flex;
    padding: 20px;
    margin: 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.output {
    opacity: 0.9;
}

/* reset input */
#input:focus,
#input:hover,
#input:active {
    border: none;
    outline: none;
}

#input {
    width: 400px;
    padding: 20px;
    margin: 0;
    border: 4px solid #ada39d;
    background: #3c3939;
    color: #f5da00;
    font-size: 200%;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all 200ms ease;
    box-shadow: none;
}

#input:focus,
#input:hover,
#input:active {
    border: 4px solid #ada39d;
}
input#input {
    border: 4px solid #5a514b;
}

.border-dashed,
#input.border-dashed {
    border-style: dashed;
}

#notifications {
}

.notification {
    color: #ff6312;
    font-family: monospace;
}

.target {
	color:#f5da00;
}

* {
    box-sizing:border-box;
}
